{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Индекс книги</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Год публикации</th>
                <th>Cover_image</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.publicationYear }}</td>
                <td>{{ book.coverImage }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
